.ColorDetail {
    padding: 130px 50px 50px 300px;
}
.ColorDetail-buttonContainer {
    margin: 30px auto;
    width: 200px;
}

.ColorDetail-button {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #4E5453;
    background: white;
    font-size: large;
    cursor: pointer;
}

.ColorDetail-button:hover {
    background: whitesmoke;
}

.ColorDetail-buttonContainer > a {
    text-decoration: none;
}