.ColorList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    /* this would sticky the pagination at the bottom */
    /* height: 914px; */
    column-gap: 50px;
    grid-auto-rows: max-content;
}